<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <media-path>L:\\Casparcg\\_media\\</media-path>
    <log-path>L:\\Casparcg\\_log\\</log-path>
    <data-path>L:\\Casparcg\\_data\\</data-path>
    <template-path>L:\\Casparcg\\_templates\\</template-path>
    <template-host>cg.fth.18</template-host>
  </paths>
  <diagnostics>
    <graphs>true</graphs>
  </diagnostics>
  <channels>
    <channel>
      <videomode>PAL</videomode>
      <consumers>
        <decklink>
          <device>1</device>
          <embedded-audio>true</embedded-audio>
          <low-latency>true</low-latency>
          <key>external</key>
        </decklink>
        <ogl>
          <device>0</device>
          <stretch>uniform</stretch>
          <windowed>true</windowed>
        </ogl>
        <!--<audio/>-->
        <!--<bluefish>
          <device>1</device>
          <embedded-audio>false</embedded-audio>
        </bluefish>-->
      </consumers>
    </channel>
</channels>
  <controllers>
    <tcp>
      <port>5250</port>
      <protocol>AMCP</protocol>
    </tcp>
  </controllers>
</configuration>