<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <media-path>C:\\Casparcg\\_media\\</media-path>
    <log-path>C:\\Casparcg\\_log\\</log-path>
    <template-path>C:\\Casparcg\\</template-path>
    <template-host>cg.fth.18</template-host>
    <data-path>C:\\Casparcg\\_data\\</data-path>
  </paths>
  <diagnostics>
    <graphs>false</graphs>
  </diagnostics>
  <channels>
    <channel>
      <videomode>PAL</videomode>
      <consumers>
        <ogl>
          <device>1</device>
          <stretch>uniform</stretch>
          <windowed>true</windowed>
        </ogl>
      </consumers>
    </channel>
  </channels>
  <controllers>
    <tcp>
      <port>5250</port>
      <protocol>AMCP</protocol>
    </tcp>
  </controllers>
</configuration>