<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <media-path>M:/media/</media-path>
    <log-path>M:/log/</log-path>
    <data-path>M:/data/</data-path>
    <template-path>M:/template/</template-path>
    <thumbnail-path>M:/thumbnail/</thumbnail-path>
    <font-path>M:/font/</font-path>
  </paths>
  <lock-clear-phrase>secret</lock-clear-phrase>
  <channels>
    <channel>
      <video-mode>PAL</video-mode>
      <channel-layout>stereo</channel-layout>
      <consumers>
        <decklink>
          <device>1</device>
          <embedded-audio>true</embedded-audio>
        </decklink>
        <system-audio></system-audio>
      </consumers>
    </channel>
  </channels>
  <controllers>
    <tcp>
      <port>5250</port>
      <protocol>AMCP</protocol>
    </tcp>
    <tcp>
      <port>3250</port>
      <protocol>LOG</protocol>
    </tcp>
  </controllers>
</configuration>

<!--
<log-level>           info  [trace|debug|info|warning|error|fatal]</log-level>
<log-categories>      communication  [calltrace|communication|calltrace,communication]</log-categories>
<force-deinterlace>   false  [true|false]</force-deinterlace>
<channel-grid>        false [true|false]</channel-grid>
<mixer>
    <blend-modes>          false [true|false]</blend-modes>
    <mipmapping-default-on>false [true|false]</mipmapping-default-on>
    <straight-alpha>       false [true|false]</straight-alpha>
</mixer>
<accelerator>auto [cpu|gpu|auto]</accelerator>
<template-hosts>
    <template-host>
        <video-mode />
        <filename />
        <width />
        <height />
    </template-host>
</template-hosts>
<flash>
    <buffer-depth>auto [auto|1..]</buffer-depth>
</flash>
<html>
    <remote-debugging-port>0 [0|1024-65535]</remote-debugging-port>
</html>
<thumbnails>
    <width>256</width>
    <height>144</height>
    <video-grid>2</video-grid>
    <scan-interval-millis>5000</scan-interval-millis>
    <generate-delay-millis>2000</generate-delay-millis>
    <video-mode>720p2500</video-mode>
    <mipmap>true</mipmap>
</thumbnails>
<channels>
    <channel>
        <video-mode>PAL [PAL|NTSC|576p2500|720p2398|720p2400|720p2500|720p5000|720p2997|720p5994|720p3000|720p6000|1080p2398|1080p2400|1080i5000|1080i5994|1080i6000|1080p2500|1080p2997|1080p3000|1080p5000|1080p5994|1080p6000|1556p2398|1556p2400|1556p2500|dci1080p2398|dci1080p2400|dci1080p2500|2160p2398|2160p2400|2160p2500|2160p2997|2160p3000|2160p5000|2160p5994|2160p6000|dci2160p2398|dci2160p2400|dci2160p2500] </video-mode>
        <straight-alpha-output>false [true|false]</straight-alpha-output>
        <channel-layout>stereo [mono|stereo|matrix|film|smpte|ebu_r123_8a|ebu_r123_8b|8ch|16ch]</channel-layout>
        <consumers>
            <decklink>
                <device>[1..]</device>
                <key-device>device + 1 [1..]</key-device>
                <embedded-audio>false [true|false]</embedded-audio>
                <channel-layout>stereo [mono|stereo|matrix|film|smpte|ebu_r123_8a|ebu_r123_8b|8ch|16ch]</channel-layout>
                <latency>normal [normal|low|default]</latency>
                <keyer>external [external|external_separate_device|internal|default]</keyer>
                <key-only>false [true|false]</key-only>
                <buffer-depth>3 [1..]</buffer-depth>
            </decklink>
            <bluefish>
                <device>[1..]</device>
		            <sdi-stream>1[1..] </sdi-stream>
                <embedded-audio>false [true|false]</embedded-audio>
                <channel-layout>stereo [mono|stereo|matrix|film|smpte|ebu_r123_8a|ebu_r123_8b|8ch|16ch]</channel-layout>
                <key-only>false [true|false]</key-only>
                <keyer>disabled [external|internal|disabled] (external only supported on channels 1 and 3, using 3 requires 4 out connectors) ( internal only available on devices with a hardware keyer) </keyer>
                <internal-keyer-audio-source> videooutputchannel [videooutputchannel|sdivideoinput] ( only valid when using internal keyer option) </internal-keyer-audio-source>
            </bluefish>
            <system-audio>
                <channel-layout>stereo [mono|stereo|matrix]</channel-layout>
                <latency>200 [0..]</latency>
            </system-audio>
            <screen>
                <device>[0..]</device>
                <aspect-ratio>default [default|4:3|16:9]</aspect-ratio>
                <stretch>fill [none|fill|uniform|uniform_to_fill]</stretch>
                <windowed>true [true|false]</windowed>
                <key-only>false [true|false]</key-only>
                <auto-deinterlace>true [true|false]</auto-deinterlace>
                <vsync>false [true|false]</vsync>
                <interactive>true [true|false]</interactive>
                <borderless>false [true|false]</borderless>
            </screen>
            <newtek-ivga></newtek-ivga>
            <ffmpeg>
                <path>[file|url]</path>
                <args>[most ffmpeg arguments related to filtering and output codecs]</args>
                <separate-key>false [true|false]</separate-key>
                <mono-streams>false [true|false]</mono-streams>
            </ffmpeg>
        </consumers>
    </channel>
</channels>
<osc>
  <default-port>6250</default-port>
  <disable-send-to-amcp-clients>false [true|false]</disable-send-to-amcp-clients>
  <predefined-clients>
    <predefined-client>
      <address>127.0.0.1</address>
      <port>5253</port>
    </predefined-client>
  </predefined-clients>
</osc>
<audio>
	<channel-layouts>
		<channel-layout name="mono"        type="mono"        num-channels="1" channel-order="FC" />
		<channel-layout name="stereo"      type="stereo"      num-channels="2" channel-order="FL FR" />
		<channel-layout name="matrix"      type="matrix"      num-channels="2" channel-order="ML MR" />
		<channel-layout name="film"        type="5.1"         num-channels="6" channel-order="FL FC FR BL BR LFE" />
		<channel-layout name="smpte"       type="5.1"         num-channels="6" channel-order="FL FR FC LFE BL BR" />
		<channel-layout name="ebu_r123_8a" type="5.1+downmix" num-channels="8" channel-order="DL DR FL FR FC LFE BL BR" />
		<channel-layout name="ebu_r123_8b" type="5.1+downmix" num-channels="8" channel-order="FL FR FC LFE BL BR DL DR" />
		<channel-layout name="8ch"         type="8ch"         num-channels="8" />
		<channel-layout name="16ch"        type="16ch"        num-channels="16" />
	</channel-layouts>
	<mix-configs>
		<mix-config from-type="mono"          to-types="stereo, 5.1"  mix="FL = FC                                           | FR = FC" />
		<mix-config from-type="mono"          to-types="5.1+downmix"  mix="FL = FC                                           | FR = FC                                         | DL = FC | DR = FC" />
		<mix-config from-type="mono"          to-types="matrix"       mix="ML = FC                                           | MR = FC" />
		<mix-config from-type="stereo"        to-types="mono"         mix="FC &lt; FL + FR" />
		<mix-config from-type="stereo"        to-types="matrix"       mix="ML = FL                                           | MR = FR" />
		<mix-config from-type="stereo"        to-types="5.1"          mix="FL = FL                                           | FR = FR" />
		<mix-config from-type="stereo"        to-types="5.1+downmix"  mix="FL = FL                                           | FR = FR                                         | DL = FL | DR = FR" />
		<mix-config from-type="5.1"           to-types="mono"         mix="FC &lt; FL + FR + 0.707*FC + 0.707*BL + 0.707*BR" />
		<mix-config from-type="5.1"           to-types="stereo"       mix="FL &lt; FL + 0.707*FC + 0.707*BL                  | FR &lt; FR + 0.707*FC + 0.707*BR" />
		<mix-config from-type="5.1"           to-types="5.1+downmix"  mix="FL = FL                                           | FR = FR                                         | FC = FC | BL = BL | BR = BR | LFE = LFE | DL &lt; FL + 0.707*FC + 0.707*BL | DR &lt; FR + 0.707*FC + 0.707*BR" />
		<mix-config from-type="5.1"           to-types="matrix"       mix="ML = 0.3204*FL + 0.293*FC + -0.293*BL + -0.293*BR | MR = 0.3204*FR + 0.293*FC + 0.293*BL + 0.293*BR" />
		<mix-config from-type="5.1+stereomix" to-types="mono"         mix="FC &lt; DL + DR" />
		<mix-config from-type="5.1+stereomix" to-types="stereo"       mix="FL = DL                                           | FR = DR" />
		<mix-config from-type="5.1+stereomix" to-types="5.1"          mix="FL = FL                                           | FR = FR                                         | FC = FC | BL = BL | BR = BR | LFE = LFE" />
		<mix-config from-type="5.1+stereomix" to-types="matrix"       mix="ML = 0.3204*FL + 0.293*FC + -0.293*BL + -0.293*BR | MR = 0.3204*FR + 0.293*FC + 0.293*BL + 0.293*BR" />
	</mix-configs>
</audio>
-->
