<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <media-path>media\</media-path>
    <log-path>log\</log-path>
    <data-path>data\</data-path>
    <template-path>templates\</template-path>
  </paths>
  <flash>
    <buffer-depth>4</buffer-depth>
  </flash>
  <channels>
    <channel>
      <video-mode>PAL</video-mode>
      <consumers>
        <screen>
          <device>1</device>
          <windowed>true</windowed>
        </screen>
        <system-audio></system-audio>
      </consumers>
    </channel>
  </channels>
  <controllers>
    <tcp>
      <port>5250</port>
      <protocol>AMCP</protocol>
    </tcp>
  </controllers>
</configuration>

<!--
<log-level>           trace [trace|debug|info|warning|error]</log-level>
<force-deinterlace>   true  [true|false]</force-deinterlacing>
<channel-grid>        false [true|false]</channel-grid>
<blend-modes>         true  [true|false]</blend-modes>
<auto-transcode>      true  [true|false]</auto-transcode>
<accelerator>auto [cpu|gpu|auto]</accelerator>
<template-hosts>
    <template-host>
        <video-mode/>
        <filename/>
        <width/>
        <height/>
    </template-host>
</template-hosts>
<flash>
    <buffer-depth>auto [auto|1..]</buffer-depth>
</flash>
<channels>
    <channel>
        <video-mode> PAL [PAL|NTSC|576p2500|720p2398|720p2400|720p2500|720p5000|720p2997|720p5994|720p3000|720p6000|1080p2398|1080p2400|1080i5000|1080i5994|1080i6000|1080p2500|1080p2997|1080p3000|1080p5000|1080p5994|1080p6000] </video-mode>
        <consumers>
            <decklink>
                <device>[1..]</device>
                <embedded-audio>false [true|false]</embedded-audio>
                <latency>normal [normal|low|default]</latency>
                <keyer>external [external|internal|default]</keyer>
                <key-only>false [true|false]</key-only>
                <buffer-depth>3 [1..]</buffer-depth>
            </decklink>
            <bluefish>
                <device>[1..]</device>
                <embedded-audio>false [true|false]</embedded-audio>
                <key-only>false [true|false]</key-only>
            </bluefish>
            <system-audio></system-audio>
            <screen>
                <device>[0..]</device>
                <aspect-ratio>default [default|4:3|16:9]</aspect-ratio>
                <stretch>fill [none|fill|uniform|uniform_to_fill]</stretch>
                <windowed>false [true|false]</windowed>
                <key-only>false [true|false]</key-only>
                <auto-deinterlace>true [true|false]</auto-deinterlace>
                <vsync>false [true|false]</vsync>
            </screen>
            <file>
                <path></path>
                <vcodec>libx264 [libx264|qtrle]</vcodec>
            </file>
        </consumers>
    </channel>
</channels>
-->
