<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <media-path>media\</media-path>
    <log-path>log\</log-path>
    <data-path>data\</data-path>
    <template-path>templates\</template-path>
    <thumbnails-path>thumbnails\</thumbnails-path>
  </paths>
  <channels>
    <channel>
        <video-mode>PAL</video-mode>
        <consumers>
          <screen>
            <device>1</device>
          </screen>
          <system-audio />
        </consumers>
    </channel>
  </channels>
  <controllers>
    <tcp>
        <port>5250</port>
        <protocol>AMCP</protocol>
    </tcp>
  </controllers>
</configuration>

<!--
<log-level>       trace [trace|debug|info|warning|error]</log-level>
<channel-grid>    false [true|false]</channel-grid>
<mixer>
    <blend-modes>          false [true|false]</blend-modes>
    <straight-alpha>       false [true|false]</straight-alpha>
    <chroma-key>           false [true|false]</chroma-key>
    <mipmapping_default_on>false [true|false]</mipmapping_default_on>
</mixer>
<auto-deinterlace>true  [true|false]</auto-deinterlace>
<auto-transcode>  true  [true|false]</auto-transcode>
<pipeline-tokens> 2     [1..]       </pipeline-tokens>
<template-hosts>
    <template-host>
        <video-mode/>
        <filename/>
        <width/>
        <height/>
    </template-host>
</template-hosts>
<flash>
    <buffer-depth>auto [auto|1..]</buffer-depth>
</flash>
<thumbnails>
    <generate-thumbnails>true [true|false]</generate-thumbnails>
    <width>256</width>
    <height>144</height>
    <video-grid>2</video-grid>
    <scan-interval-millis>5000</scan-interval-millis>
    <generate-delay-millis>2000</generate-delay-millis>
    <video-mode>720p2500</video-mode>
    <mipmap>false</mipmap>
</thumbnails>
<channels>
    <channel>
        <video-mode> PAL [PAL|NTSC|576p2500|720p2398|720p2400|720p2500|720p5000|720p2997|720p5994|720p3000|720p6000|1080p2398|1080p2400|1080i5000|1080i5994|1080i6000|1080p2500|1080p2997|1080p3000|1080p5000|1080p5994|1080p6000|1556p2398|1556p2400|1556p2500|dci1080p2398|dci1080p2400|dci1080p2500|2160p2398|2160p2400|2160p2500|2160p2997|2160p3000|2160p5000|2160p5994|2160p6000|dci2160p2398|dci2160p2400|dci2160p2500] </video-mode>
        <channel-layout>stereo [mono|stereo|dts|dolbye|dolbydigital|smpte|passthru]</channel-layout>
        <straight-alpha-output>false [true|false]</straight-alpha-output>
        <consumers>
            <decklink>
                <device>[1..]</device>
                <key-device>device + 1 [1..]</key-device>
                <embedded-audio>false [true|false]</embedded-audio>
                <channel-layout>stereo [mono|stereo|dts|dolbye|dolbydigital|smpte|passthru]</channel-layout>
                <latency>normal [normal|low|default]</latency>
                <keyer>external [external|external_separate_device|internal|default]</keyer>
                <key-only>false [true|false]</key-only>
                <buffer-depth>3 [1..]</buffer-depth>
                <custom-allocator>true [true|false]</custom-allocator>
            </decklink>
            <bluefish>
                <device>[1..]</device>
                <embedded-audio>false [true|false]</embedded-audio>
                <channel-layout>stereo [mono|stereo|dts|dolbye|dolbydigital|smpte|passthru]</channel-layout>
                <key-only>false [true|false]</key-only>
            </bluefish>
            <system-audio></system-audio>
            <screen>
                <device>[0..]</device>
                <aspect-ratio>default [default|4:3|16:9]</aspect-ratio>
                <stretch>fill [none|fill|uniform|uniform_to_fill]</stretch>
                <windowed>false [true|false]</windowed>
                <key-only>false [true|false]</key-only>
                <auto-deinterlace>true [true|false]</auto-deinterlace>
                <vsync>false [true|false]</vsync>
                <name>[Screen Consumer]</name>
                <borderless>false [true|false]</borderless>
            </screen>
            <newtek-ivga>
              <channel-layout>stereo [mono|stereo|dts|dolbye|dolbydigital|smpte|passthru]</channel-layout>
              <provide-sync>true [true|false]</provide-sync>
            </newtek-ivga>
            <file>
                <path></path>
                <vcodec>libx264 [libx264|qtrle]</vcodec>
                <separate-key>false [true|false]</separate-key>
            </file>
            <stream>
                <path></path>
                <args></args>
            </stream>
        </consumers>
    </channel>
</channels>
<osc>
  <default-port>6250</default-port>
  <predefined-clients>
    <predefined-client>
      <address>127.0.0.1</address>
      <port>5253</port>
    </predefined-client>
  </predefined-clients>
</osc>
<audio>
  <channel-layouts>
    <channel-layout>
      <name>mono</name>
      <type>1.0</type>
      <num-channels>1</num-channels>
      <channels>C</channels>
    </channel-layout>
    <channel-layout>
      <name>stereo</name>
      <type>2.0</type>
      <num-channels>2</num-channels>
      <channels>L R</channels>
    </channel-layout>
    <channel-layout>
      <name>dts</name>
      <type>5.1</type>
      <num-channels>6</num-channels>
      <channels>C L R Ls Rs LFE</channels>
    </channel-layout>
    <channel-layout>
      <name>dolbye</name>
      <type>5.1+stereomix</type>
      <num-channels>8</num-channels>
      <channels>L R C LFE Ls Rs Lmix Rmix</channels>
    </channel-layout>
    <channel-layout>
      <name>dolbydigital</name>
      <type>5.1</type>
      <num-channels>6</num-channels>
      <channels>L C R Ls Rs LFE</channels>
    </channel-layout>
    <channel-layout>
      <name>smpte</name>
      <type>5.1</type>
      <num-channels>6</num-channels>
      <channels>L R C LFE Ls Rs</channels>
    </channel-layout>
    <channel-layout>
      <name>passthru</name>
      <type>16ch</type>
      <num-channels>16</num-channels>
      <channels />
    </channel-layout>
  </channel-layouts>
  <mix-configs>
    <mix-config>
      <from>1.0</from>
      <to>2.0</to>
      <mix>add</mix>
      <mappings>
        <mapping>C L 1.0</mapping>
        <mapping>C R 1.0</mapping>
      </mappings>
    </mix-config>
    <mix-config>
      <from>1.0</from>
      <to>5.1</to>
      <mix>add</mix>
      <mappings>
        <mapping>C L 1.0</mapping>
        <mapping>C R 1.0</mapping>
      </mappings>
    </mix-config>
    <mix-config>
      <from>1.0</from>
      <to>5.1+stereomix</to>
      <mix>add</mix>
      <mappings>
        <mapping>C L    1.0</mapping>
        <mapping>C R    1.0</mapping>
        <mapping>C Lmix 1.0</mapping>
        <mapping>C Rmix 1.0</mapping>
      </mappings>
    </mix-config>
    <mix-config>
      <from>2.0</from>
      <to>1.0</to>
      <mix>add</mix>
      <mappings>
        <mapping>L C 1.0</mapping>
        <mapping>R C 1.0</mapping>
      </mappings>
    </mix-config>
    <mix-config>
      <from>2.0</from>
      <to>5.1</to>
      <mix>add</mix>
      <mappings>
        <mapping>L L 1.0</mapping>
        <mapping>R R 1.0</mapping>
      </mappings>
    </mix-config>
    <mix-config>
      <from>2.0</from>
      <to>5.1+stereomix</to>
      <mix>add</mix>
      <mappings>
        <mapping>L L    1.0</mapping>
        <mapping>R R    1.0</mapping>
        <mapping>L Lmix 1.0</mapping>
        <mapping>R Rmix 1.0</mapping>
      </mappings>
    </mix-config>
    <mix-config>
      <from>5.1</from>
      <to>1.0</to>
      <mix>average</mix>
      <mappings>
        <mapping>L  C 1.0</mapping>
        <mapping>R  C 1.0</mapping>
        <mapping>C  C 0.707</mapping>
        <mapping>Ls C 0.707</mapping>
        <mapping>Rs C 0.707</mapping>
      </mappings>
    </mix-config>
    <mix-config>
      <from>5.1</from>
      <to>2.0</to>
      <mix>average</mix>
      <mappings>
        <mapping>L  L 1.0</mapping>
        <mapping>R  R 1.0</mapping>
        <mapping>C  L 0.707</mapping>
        <mapping>C  R 0.707</mapping>
        <mapping>Ls L 0.707</mapping>
        <mapping>Rs R 0.707</mapping>
      </mappings>
    </mix-config>
    <mix-config>
      <from>5.1</from>
      <to>5.1+stereomix</to>
      <mix>average</mix>
      <mappings>
        <mapping>L   L   1.0</mapping>
        <mapping>R   R   1.0</mapping>
        <mapping>C   C   1.0</mapping>
        <mapping>Ls  Ls  1.0</mapping>
        <mapping>Rs  Rs  1.0</mapping>
        <mapping>LFE LFE 1.0</mapping>

        <mapping>L  Lmix 1.0</mapping>
        <mapping>R  Rmix 1.0</mapping>
        <mapping>C  Lmix 0.707</mapping>
        <mapping>C  Rmix 0.707</mapping>
        <mapping>Ls Lmix 0.707</mapping>
        <mapping>Rs Rmix 0.707</mapping>
      </mappings>
    </mix-config>
    <mix-config>
      <from>5.1+stereomix</from>
      <to>1.0</to>
      <mix>add</mix>
      <mappings>
        <mapping>Lmix C 1.0</mapping>
        <mapping>Rmix C 1.0</mapping>
      </mappings>
    </mix-config>
    <mix-config>
      <from>5.1+stereomix</from>
      <to>2.0</to>
      <mix>add</mix>
      <mappings>
        <mapping>Lmix L 1.0</mapping>
        <mapping>Rmix R 1.0</mapping>
      </mappings>
    </mix-config>
    <mix-config>
      <from>5.1+stereomix</from>
      <to>5.1</to>
      <mix>add</mix>
      <mappings>
        <mapping>L   L   1.0</mapping>
        <mapping>R   R   1.0</mapping>
        <mapping>C   C   1.0</mapping>
        <mapping>Ls  Ls  1.0</mapping>
        <mapping>Rs  Rs  1.0</mapping>
        <mapping>LFE LFE 1.0</mapping>
      </mappings>
    </mix-config>
  </mix-configs>
</audio>
-->
