/version.h
/shell/included_modules.h

/unit-test/bin
/unit-test/tmp
/unit-test/unit-test.vcxproj.user

/test/psd-test/Debug
/test/psd-test/psd-test.vcxproj.user

/clang-analyze.out

/dependencies64/boost/stage/lib/libboost_wave-vc120-mt-gd-1_57.lib

/build

CMakeLists.txt.user
.settings

