/version.h
/shell/included_modules.h

/unit-test/bin
/unit-test/tmp
/unit-test/unit-test.vcxproj.user

/test/psd-test/Debug
/test/psd-test/psd-test.vcxproj.user

/clang-analyze.out

/dependencies64/cef/bin/linux/libcef.so
/dependencies64/cef/bin/win32/libcef.dll.pdb
/dependencies64/boost/stage/lib/win32/libboost_wave-vc140-mt-gd-1_59.lib

/build
/products

CMakeLists.txt.user
.settings
.vscode
