<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <media-path>C:\\Casparcg\\_media\\</media-path>
    <log-path>C:\\Casparcg\\_log\\</log-path>
    <template-path>C:\\Casparcg\\_templates\\</template-path>
    <data-path>C:\\Casparcg\\_data\\</data-path>
  </paths>
	<channels>
    <channel>
      <videomode>PAL</videomode>
      <consumers>
        <!--ogl>
          <device>0</device>
          <stretch>uniform</stretch>
          <windowed>true</windowed>
        </ogl>
        <audio/-->
        <bluefish>
          <device>1</device> 
          <embedded-audio>true</embedded-audio>
        </bluefish>
      </consumers>
    </channel>
	</channels>
  <controllers>
    <tcpcontroller>
      <port>5250</port>
      <protocol>AMCP</protocol>
    </tcpcontroller>
  </controllers>
</configuration>