<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.66.0.0" targetFramework="native" />
  <package id="sfml-system" version="2.4.2.0" targetFramework="native" />
  <package id="sfml-system.redist" version="2.4.2.0" targetFramework="native" />
  <package id="sfml-window" version="2.4.2.0" targetFramework="native" />
  <package id="sfml-window.redist" version="2.4.2.0" targetFramework="native" />
</packages>
