<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <media-path>C:\\casparcg\\Repository\\media\\</media-path>
    <log-path>C:\\casparcg\\Repository\\log\\</log-path>
    <template-path>C:\\casparcg\\Repository\\templates\\</template-path>
    <data-path>C:\\casparcg\\Repository\\data\\</data-path>
  </paths>
	<channels>
    <channel>
      <videomode>720p5000</videomode>
      <consumers>
        <ogl>
          <device>0</device>
          <stretch>uniform</stretch>
          <windowed>true</windowed>
        </ogl>
        <audio/>
      </consumers>
    </channel>
	</channels>
  <controllers>
    <tcpcontroller>
      <port>5250</port>
      <protocol>AMCP</protocol>
    </tcpcontroller>
  </controllers>
</configuration>