<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <paths>
        <media-path>media/</media-path>
        <log-path>log/</log-path>
        <data-path>data/</data-path>
        <template-path>template/</template-path>
    </paths>
    <lock-clear-phrase>secret</lock-clear-phrase>
    <channels>
        <channel>
            <video-mode>720p5000</video-mode>
            <consumers>
                <screen />
                <system-audio />
            </consumers>
        </channel>
    </channels>
    <controllers>
        <tcp>
            <port>5250</port>
            <protocol>AMCP</protocol>
        </tcp>
    </controllers>
    <amcp>
        <media-server>
            <host>localhost</host>
            <port>8000</port>
        </media-server>
    </amcp>
</configuration>

<!--

<log-level> info  [trace|debug|info|warning|error|fatal]</log-level>
<template-hosts>
    <template-host>
        <video-mode />
        <filename />
        <width />
        <height />
    </template-host>
</template-hosts>
<flash>
    <enabled>false [true|false]</enabled>
    <buffer-depth>auto [auto|1..]</buffer-depth>
</flash>
<ffmpeg>
    <producer>
        <auto-deinterlace>interlaced [none|interlaced|all]</auto-deinterlace>
        <threads>4 [1..]</threads>
    </producer>
</ffmpeg>
<html>
    <remote-debugging-port>0 [0|1024-65535]</remote-debugging-port>
    <enable-gpu> false [true|false]</enable-gpu>
</html>
<ndi>
    <auto-load>false [true|false]</auto-load>
</ndi>
<channels>
    <channel>
        <video-mode>PAL [PAL|NTSC|576p2500|720p2398|720p2400|720p2500|720p5000|720p2997|720p5994|720p3000|720p6000|1080p2398|1080p2400|1080i5000|1080i5994|1080i6000|1080p2500|1080p2997|1080p3000|1080p5000|1080p5994|1080p6000|1556p2398|1556p2400|1556p2500|dci1080p2398|dci1080p2400|dci1080p2500|2160p2398|2160p2400|2160p2500|2160p2997|2160p3000|2160p5000|2160p5994|2160p6000|dci2160p2398|dci2160p2400|dci2160p2500] </video-mode>
        <consumers>
            <decklink>
                <device>[1..]</device>
                <key-device>device + 1 [1..]</key-device>
                <embedded-audio>false [true|false]</embedded-audio>
                <latency>normal [normal|low|default]</latency>
                <keyer>external [external|external_separate_device|internal|default]</keyer>
                <key-only>false [true|false]</key-only>
                <buffer-depth>3 [1..]</buffer-depth>
            </decklink>
      	    <bluefish>
                <device>[1..]</device>
		            <sdi-stream>1[1..] </sdi-stream>
                <embedded-audio>false [true|false]</embedded-audio>
                <keyer>disabled [external|internal|disabled] (external only supported on channels 1 and 3, using 3 requires 4 out connectors) ( internal only available on devices with a hardware keyer) </keyer>
                <internal-keyer-audio-source> videooutputchannel [videooutputchannel|sdivideoinput] ( only valid when using internal keyer option) </internal-keyer-audio-source>
                <watchdog>2[0..] ( set to 0 to disable the HW watchdog functionality, otherwise this value indicates how many frames to wait after a crash, before enabling the bypass relay's on the card - only works on sdi-stream 1) </watchdog>
                <uhd-mode>0 [0|1|2|3] (0 = Disable BVC-Multi_Link,  1  = Auto ( ie. BVC-ML gets SQ, Native buffers get 2SI), 2 = Force 2SI output, 3 = Force SQ ie. Square Division output ) this setting only applies in UHD modes. </uhd-mode>
            </bluefish>
            <system-audio>
                <channel-layout>stereo [mono|stereo|matrix]</channel-layout>
                <latency>200 [0..]</latency>
            </system-audio>
            <screen>
                <device>1 [1..]</device>
                <aspect-ratio>default [default|4:3|16:9]</aspect-ratio>
                <stretch>fill [none|fill|uniform|uniform_to_fill]</stretch>
                <windowed>true [true|false]</windowed>
                <key-only>false [true|false]</key-only>
                <vsync>false [true|false]</vsync>
                <borderless>false [true|false]</borderless>
                <interactive>true [true|false]</interactive>
                <always-on-top>false [true|false]</always-on-top>
                <x>0</x>
                <y>0</y>
                <width>0 (0=not set)</width>
                <height>0 (0=not set)</height>
                <sbs-key>false [true|false]</sbs-key>
                <colour-space>RGB [RGB|datavideo-full|datavideo-limited] (Enables colour space convertion for DataVideo TC-100 / TC-200)</colour-space>
            </screen>
            <newtek-ivga></newtek-ivga>
            <ndi>
                <name>[custom name]</name>
                <allow-fields>false [true|false]</allow-fields>
            </ndi>
            <ffmpeg>
                <path>[file|url]</path>
                <args>[most ffmpeg arguments related to filtering and output codecs]</args>
            </ffmpeg>
        </consumers>
    </channel>
</channels>
<osc>
  <default-port>6250</default-port>
  <disable-send-to-amcp-clients>false [true|false]</disable-send-to-amcp-clients>
  <predefined-clients>
    <predefined-client>
      <address>127.0.0.1</address>
      <port>5253</port>
    </predefined-client>
  </predefined-clients>
</osc>
-->
