<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.66.0.0" targetFramework="native" />
  <package id="boost_atomic-vc141" version="1.66.0.0" targetFramework="native" />
  <package id="boost_chrono-vc141" version="1.66.0.0" targetFramework="native" />
  <package id="boost_context-vc141" version="1.66.0.0" targetFramework="native" />
  <package id="boost_coroutine-vc141" version="1.66.0.0" targetFramework="native" />
  <package id="boost_date_time-vc141" version="1.66.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc141" version="1.66.0.0" targetFramework="native" />
  <package id="boost_locale-vc141" version="1.66.0.0" targetFramework="native" />
  <package id="boost_log_setup-vc141" version="1.66.0.0" targetFramework="native" />
  <package id="boost_log-vc141" version="1.66.0.0" targetFramework="native" />
  <package id="boost_regex-vc141" version="1.66.0.0" targetFramework="native" />
  <package id="boost_system-vc141" version="1.66.0.0" targetFramework="native" />
  <package id="boost_thread-vc141" version="1.66.0.0" targetFramework="native" />
  <package id="sfml-graphics" version="2.4.2.0" targetFramework="native" />
  <package id="sfml-graphics.redist" version="2.4.2.0" targetFramework="native" />
  <package id="sfml-system" version="2.4.2.0" targetFramework="native" />
  <package id="sfml-system.redist" version="2.4.2.0" targetFramework="native" />
  <package id="sfml-window" version="2.4.2.0" targetFramework="native" />
  <package id="sfml-window.redist" version="2.4.2.0" targetFramework="native" />
</packages>