#define CASPAR_GEN ${CONFIG_VERSION_MAJOR}
#define CASPAR_MAJOR ${CONFIG_VERSION_MINOR}
#define CASPAR_MINOR ${CONFIG_VERSION_BUG}
#define CASPAR_TAG "${CONFIG_VERSION_TAG}"
#define CASPAR_HASH "${CONFIG_VERSION_GIT_HASH}"
