name: Build Linux with system dependencies

on:
    push:
        # branches: [ "master" ]
    pull_request:
        branches: ["master"]

jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                os:
                    - ubuntu-20.04
                    - ubuntu-22.04

        runs-on: ${{ matrix.os }}

        steps:
            - uses: actions/checkout@v3

            - name: Setup environment
              run: |
                  sudo apt-get update
                  sudo ./tools/linux/install-dependencies

                  sudo apt-get install -y libboost-all-dev \
                    libavcodec-dev \
                    libavformat-dev \
                    libavdevice-dev \
                    libavutil-dev \
                    libavfilter-dev \
                    libswscale-dev \
                    libpostproc-dev \
                    libswresample-dev

            - name: Run build
              run: |

                  mkdir build
                  cd build

                  cmake ../src -DUSE_SYSTEM_BOOST=ON -DUSE_SYSTEM_FFMPEG=ON
                  make -j2

              env:
                  CI: 1
