name: Build Windows

on:
    push:
        # branches: [ "master" ]
    pull_request:
        branches: ["master"]

jobs:
    build:
        runs-on: windows-2019

        steps:
            - uses: actions/checkout@v4

            - name: Download media-scanner
              uses: robinraju/release-downloader@v1.10
              with:
                  repository: "casparcg/media-scanner"
                  latest: true
                  fileName: "*-win32-x64.zip"
                  tarBall: false
                  zipBall: false
                  out-file-path: "media-scanner"
                  extract: true

            - name: Tidy media-scanner download
              shell: bash
              run: |
                  rm media-scanner/*.zip

            - name: Run build
              run: |
                  ./tools/windows/build.bat
              env:
                  CI: 1
                  MEDIA_SCANNER_FOLDER: "..\\media-scanner"

            - name: Rename build
              id: "rename-build"
              shell: bash
              run: |
                  TARGET=casparcg-server-${{ github.sha }}-windows.zip
                  mv dist/casparcg_server.zip "$TARGET"

                  echo "artifactname=$TARGET" >> $GITHUB_OUTPUT
                    
                  # check if a release branch, or master, or a tag
                  if [[ "${{ github.ref_name }}" == "master" || "${{ github.ref_name }}" == "2.3.x-lts" || "${{ github.ref_name }}" == "2.4.x" ]]
                  then
                    # Only report if we have an sftp password
                    if [ -n "${{ secrets.SFTP_PASSWORD }}" ]
                    then
                        echo "uploadname=$TARGET" >> $GITHUB_OUTPUT
                    fi
                  fi

            - uses: actions/upload-artifact@v4
              with:
                  name: upload-artifact
                  path: ${{ steps.rename-build.outputs.artifactname }}

            - name: Copy single file to remote
              uses: garygrossgarten/github-action-scp@v0.8.0
              if: ${{ steps.rename-build.outputs.uploadname }}
              with:
                  local: "${{ steps.rename-build.outputs.uploadname }}"
                  remote: "${{ secrets.SFTP_ROOT }}/${{ github.ref_name }}/${{ steps.rename-build.outputs.uploadname }}"
                  host: ${{ secrets.SFTP_HOST }}
                  username: ${{ secrets.SFTP_USERNAME }}
                  password: ${{ secrets.SFTP_PASSWORD }}
